.card {
    border-radius: 30px;
    border: 1px;
    border-style: groove;
    border-color: $fourth-color;
    background-image: url("../assets/images/card-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 350px;
    text-decoration: none;

    @media (max-width: 992px) {
        max-width: 300px;
    }
    @media (max-width: 576px) {
        max-width: 200px;
    }
}

.card:hover {
     box-shadow: 0 10px 20px rgba($color: #dedede, $alpha: 1.0);

}

.gap {
    gap: 15px;

    p{
        margin: 0;
        font-size: 1.1rem;
    }
}

.card-link {
    color: $secondary-color;
}


