.contact {
    padding: 40px 0 40px 0;

    h2 {
        margin-bottom: 30px;
    }

    .formulaire {
        border: 1px;
        border-style: solid;
        border-radius: 10px;
        border-color: $fourth-color;
        width: 100%;
        max-width: 800px;
        padding: 10px;

        @media (max-width: 992px) {
            max-width: 450px;
        }
        @media (max-width: 576px) {
            max-width: 300px;
        }

        .champs {
            text-align: left;
            width: max-content;
            margin: auto;
        }

        .form-control {
            width: 100%;
            min-width: 700px;
            min-height: 50px;

            @media (max-width: 992px) {
                min-width: 350px;
            }
            @media (max-width: 576px) {
                min-width: 175px;
            }
        }
        .btn{
            background-color: $fourth-color;
            color: white;
        }
    }
}