.error-page {
    padding: 20px;

    h1{
        margin-bottom: 20px;
    }

    .error-photo {
    width: 100%;
    max-width: 700px;
    @media (max-width: 992px) {
        max-width: 500px;
    }
    @media (max-width: 576px) {
        max-width: 300px;
    }
}
}
