.infos {
    background-color: $primary-color;
    
}

.propos {
    color: darkgreen;
}

.formulaire {
    border-style: solid;
    border: 1px;
    border-radius: 10px;
    border-color: $fourth-color;

    .champs {
        text-align: left;
    }

    .form-control {
        width: 100%;
        max-width: 1000px;
        min-height: 50px;

        @media (max-width: 992px) {
            max-width: 200px;
        }
        @media (max-width: 576px) {
            max-width: 100px;
        }
    }
}


