.container-footer {
    background-color: $tertiary-color;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: inherit;

//Liens de navigation
    .container-liens {
        padding-bottom: 0;
        position: relative;
    }

    .nav-liens {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    a {
        color: inherit;
    }

//Adresse
    .adresse {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
    
    p {
        margin: 0;
    }
    }
}