.footer {
    background-color: $tertiary-color;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: inherit;

//Liens de navigation
    .liens {
        padding-bottom: 0;
        position: relative;
    }

    .nav-liens {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
            text-align: left;
            margin-top: 8px;
        }
    }

    .lien-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: inherit;
    }

//Adresse

    .adresse {
        margin: 0;
    
    p {
        margin: 0;
    }
    }
}