//Image de fond
.background {
    background-image: url("/src/assets/images/artisanhome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    max-height: 1000px;
    min-height: 900px;
}

//Comment trouver mon artisan ?
.tuto-div {
        padding-top: 50px;
        padding-bottom: 35px;
        color: white;
        background-color: $secondary-color;

        h2 {
            margin-bottom: 30px;
            color: white;
        }
        
        p {
            font-size: 1.1rem;
            margin-bottom: 15px;
        }
}

.color-artisans{
    padding-top: 30px;
    padding-bottom: 30px;

}