$primary-color: #F1F8FC;
$secondary-color: #0074C7;
$tertiary-color: #00497C;
$fourth-color: #384050;
$fifth-color: #CD2C2E;
$sixth-color: #82B864;


body {
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
}

p{
    margin: 0;
}